/* Coolors Exported Palette - coolors.co/be6e46-cde7b0-a3bfa8-7286a0-59594a */

/* HSL */
$color1: hsla(20%, 48%, 51%, 1);
$color2: hsla(88%, 53%, 80%, 1);
$color3: hsla(131%, 18%, 69%, 1);
$color4: hsla(214%, 19%, 54%, 1);
$color5: hsla(60%, 9%, 32%, 1);

/* RGB */
$color1: rgba(190, 110, 70, 1);
$color2: rgba(205, 231, 176, 1);
$color3: rgba(163, 191, 168, 1);
$color4: rgba(114, 134, 160, 1);
$color5: rgba(89, 89, 74, 1);