/* Coolors Exported Palette - coolors.co/e7ecef-274c77-6096ba-a3cef1-8b8c89 */

/* HSL */
$color1: hsla(203%, 20%, 92%, 1);
$color2: hsla(212%, 51%, 31%, 1);
$color3: hsla(204%, 39%, 55%, 1);
$color4: hsla(207%, 74%, 79%, 1);
$color5: hsla(80%, 1%, 54%, 1);

/* RGB */
$color1: rgba(231, 236, 239, 1);
$color2: rgba(39, 76, 119, 1);
$color3: rgba(96, 150, 186, 1);
$color4: rgba(163, 206, 241, 1);
$color5: rgba(139, 140, 137, 1);

// background image 
// blue 
// #9CD7E0
// RGB(156, 215, 224)
// red 
// #F12804,  RGB(241, 40, 4)
// #A30C04,  RGB(163, 12, 4)
// orange 
// #FA670B,  RGB(250, 103, 11)
// brown 
// #4E2917,  RGB(78, 41, 23)

#4E2E1C,  RGB(78, 46, 28)


#A19FA0,  RGB(161, 159, 160)

#677A96,  RGB(103, 122, 150)
