<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>International Hair Authority</title>
    <!-- You MUST include jQuery before Fomantic -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script> -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto:100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />

    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/search.css" />
  </head>

  <body>
    <!-- page container  -->
    <div class="ui grid container" id="page-container">
      <!-- header  -->
      <!-- <div class="fitted row" id="header-row">
        <div
          class="three wide computer eight wide mobile right aligned left floated column"
        >
          <button class="ui button" id="list-business-button">
            <i class="building icon"></i>List your business
          </button>
        </div>
        <div
          class="ten wide center aligned middle aligned computer only column"
        >
          <p class="header-text">
            Claim your
            <a class="header-text">50% off</a> products
          </p>
        </div>
        <div
          class="three wide computer eight wide mobile middle aligned right floated column"
        >
          <div class="ui grid" id="menu-icons">
            <div class="one wide middle aligned centered column">
              <i class="large google icon header-icon-color"></i>
            </div>
            <div class="one wide middle aligned centered column">
              <i class="large facebook icon header-icon-color"></i>
            </div>
            <div class="one wide middle aligned centered column">
              <i class="large twitter square icon header-icon-color"></i>
            </div>
            <div class="one wide middle aligned centered column">
              <i class="large instagram icon header-icon-color"></i>
            </div>
          </div>
        </div>
      </div> -->
      <!-- landing page  -->
      <div class="row" id="landing-row">
        <div class="ui grid" id="landing-grid">
          <div class="row" id="landing-inner-row">
            <div
              class="seven wide computer sixteen wide mobile column"
              id="ha-title-column"
            >
              <p id="ha-title">International Hair Authority Directory</p>
            </div>
            <div
              class="four wide computer sixteen wide mobile column"
              id="menu-links-column"
            >
              <a class="menu-links">Store</a>
              <a class="menu-links">News</a>
              <a class="menu-links">About</a>
            </div>
            <div class="four wide computer only column">
              <p id="ha-contact">999-999-9999</p>
            </div>
          </div>
          <div class="row" id="landing-search-row">
            <div class="ten wide computer sixteen wide mobile column">
              <p id="search-title">Find Top Hair Loss Professionals</p>
              <p id="search-subtitle">From the only 100% objective directory</p>
              <form class="search-form">
                <input
                  type="search"
                  value=""
                  placeholder="Search"
                  class="search-input"
                />
                <button type="submit" class="search-button">
                  <svg class="submit-button">
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#search"
                    ></use>
                  </svg>
                </button>
                <div class="search-option">
                  <div>
                    <input
                      name="type"
                      type="radio"
                      value="type-users"
                      id="type-users"
                    />
                    <label for="type-users">
                      <svg class="edit-pen-title">
                        <use
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          xlink:href="#user"
                        ></use>
                      </svg>
                      <span>Users</span>
                    </label>
                  </div>
                </div>
              </form>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="0"
                height="0"
                display="none"
              >
                <symbol id="search" viewBox="0 0 32 32">
                  <path
                    d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z"
                  />
                </symbol>
              </svg>
            </div>
            <div class="six wide computer only center aligned column">
              <div class="ui grid container" id="landing-card">
                <p id="landing-card-header">
                  The Web's Most Trusted Hair Directory
                </p>
                <p id="landing-card-text">
                  In this directory, we have pooled together the best qualified
                  professionals from multiple specialties who are located in
                  your area. You are just a click away from finding a permanent
                  solution to your hair-loss problem.
                </p>
                <button class="ui button" id="list-business-button">
                  <i class="building icon"></i>List your Business
                </button>
              </div>
            </div>
          </div>
          <div class="centered row" id="landing-bottom-row">
            <div class="sixteen wide center aligned column">
              <p id="works-header" class="notWhite-header-text">How it Works</p>
              <p class="text" id="works-text">
                Hair Authority Directory™ was created to give men and women
                suffering from hair loss an information tool they can use with
                confidence to find the best qualified professionals and
                products. It is the most comprehensive, unbiased and
                user-friendly directory on the internet. It is managed by a team
                of hair loss professionals with over forty years of experience.
              </p>
            </div>
            <div class="sixteen wide center aligned column" id="logo-column">
              <p class="notWhite-header-text">Who we Work With</p>
              <div class="ui grid">
                <div
                  class="four wide computer sixteen wide mobile center aligned column"
                >
                  <img class="logo-images" src="./images/Hair Club.webp" />
                  <p class="logo-header">
                    The Hair Club
                  </p>
                  <p class="logo-text">
                    Hair Club is the largest network of hair addition and hair
                    management salons.
                  </p>
                </div>
                <div
                  class="four wide computer sixteen wide mobile center aligned column"
                >
                  <img class="logo-images" src="./images/Artas.png" />
                  <p class="logo-header">
                    ARTAS
                  </p>
                  <p class="logo-text">
                    This symbol identifies doctors and clinics that offer ARTAD
                    robot-assisted hair transplant surgery (FUE).
                  </p>
                </div>
                <div
                  class="four wide computer sixteen wide mobile center aligned column"
                >
                  <img class="logo-images" src="./images/WTS.png" />
                  <p class="logo-header">
                    World Trichology Society
                  </p>
                  <p class="logo-text">
                    WTS is an organization that promotes the science of
                    trichology.
                  </p>
                </div>
                <div
                  class="four wide computer sixteen wide mobile center aligned column"
                >
                  <img class="logo-images" src="./images/ISHRS.png" />
                  <p class="logo-header">
                    ISHRS
                  </p>
                  <p class="logo-text">
                    Look for this symbol if you are considering hair transplant
                    surgery.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="why-row">
            <div class="sixteen wide coulumn">
              <div class="ui grid">
                <div class="centered row">
                  <p class="notWhite-header-text">Search by Category</p>
                  <div class="fourteen wide column" id="category-search-column">
                    <div
                      class="ui centered grid container"
                      id="category-container"
                    >
                      <div class=" centered row" id="category-row">
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/extensions.jpg"
                            id="extensions"
                          />
                          <p class="categories-labels">
                            Wigs, Extensions, Hair Additions
                          </p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image "
                            src="./images/dermatologist.jpg"
                            id="dermatologist"
                          />
                          <p class="categories-labels">Dermatologist</p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/tricho.png"
                            id="tricho"
                          />
                          <p class="categories-labels">Trichologist</p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/laser.jpg"
                            id="laser"
                          />
                          <p class="categories-labels">Laser Therapy</p>
                        </div>
                      </div>
                      <div class=" centered row" id="category-row-2">
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/salon-1.jpg"
                            id="salon"
                          />
                          <p class="categories-labels">Hair Care Salon</p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image "
                            src="./images/before-after12.jpg"
                            id="systems"
                          />
                          <p class="categories-labels">
                            Hair Replacement & Hair Systems
                          </p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/hair-products.jpg"
                            id="products"
                          />
                          <p class="categories-labels">
                            Hair Loss / Hair Care Products & Treatments
                          </p>
                        </div>
                        <div
                          class="four wide computer eight wide mobile center aligned column"
                        >
                          <img
                            class="ui rounded fluid image"
                            src="./images/transplant.jpg"
                            id="transplant"
                          />
                          <p class="categories-labels">
                            Medical / Hair Transplants
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="about-row">
            <div
              class="five wide computer sixteen wide mobile middle aligned column"
            >
              <p class="why-subtitles">INFORMATION YOU CAN TRUST</p>
              <p class="why-subtext">
                This one-of-a-kind directory is 100% objective. It is not
                affiliated with any commercial or special interest group. It
                does not accept advertising and it does not promote or endorse
                any product or service. It allows you to compare alternate
                suppliers and make a rational decision about what is best for
                you. This is the only directory you will ever need.
              </p>
            </div>
            <div
              class="five wide computer sixteen wide mobile middle aligned column"
            >
              <p class="why-subtitles">HOW WE ARE DIFFERENT?</p>
              <p class="why-subtext">
                Unlike other special-interest groups and deep-pocket
                advertisers, the Hair Authority Directory is not beholden to any
                interest or commercial group. It lists every professional, flags
                special skills, professional affiliations, specialized training,
                and awards so you can find the best of the best.
              </p>
            </div>
            <div
              class="five wide computer sixteen wide mobile middle aligned column"
            >
              <p class="why-subtitles">WHY HAIR AUTHORITY DIRECTORY?</p>
              <p class="why-subtext">
                In this directory, we have pooled together the best qualified
                professionals from multiple specialties who are located in your
                area. You are just a click away from finding a permanent
                solution to your hair-loss problem.
              </p>
            </div>
          </div>
          <div class="row" id="recently-added-row" >
            
          </div>
        </div>
      </div>
    </div>

    <script src="./js/development.js"></script>
  </body>
</html>
